.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/images/bg.jpg') no-repeat center center/cover;
}

.feedback-card {
  width: 380px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.feedback-card h2 {
  text-align: center;
  color:black;
  margin-bottom: 20px;
}

.feedback-card form {
  display: flex;
  flex-direction: column;
}

.feedback-card label {
  margin-top: 12px;
  font-weight: bold;
  color:black;
}

.feedback-card input,
.feedback-card textarea {
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 14px;
}

.feedback-card textarea {
  resize: vertical;
  height: 100px;
}

.feedback-card button {
  margin-top: 20px;
  padding: 12px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.feedback-card button:hover {
  background: #1e7e34;
}
