.container {
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 50%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
